@import url('https://fonts.googleapis.com/css?family=Asap');
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

header {
	background: white;
	padding: 20px;
}

header {
	color: grey;
	text-align: center;
	font-family: Asap, sans-serif;
}

body {
	background-color: rgb(53, 48, 48);
	text-align: center;
}

header > h1 {
	color: rgb(192, 209, 209);
	text-align: center;
	font-family: Asap, sans-serif;
}

.score-board {
	margin: 20px auto;
	border: 3px solid white;
	border-radius: 4px;
	padding: 15px 20px;
	width: 200px;
	color: white;
	font-size: 30px;
	font-family: Asap, sans-serif;
	position: relative;
}

.badge {
	background: #E25840;
	color: white;
	font-size: 14px;
	padding: 2px 10px;
	font-family: Asap, sans-serif;
}

#user-label {
	position: absolute;
	top: 25px;
	left: -25px;
}
#computer-label {
	position: absolute;
	top: 25px;
	right: -25px;
}

.result {
	font-size: 35px;
	color: aliceblue;
	font-family: Asap; sans-Serif;
}

.result > p {
	text-align: center;
	font-weight: bold;
	font-family: Asap; sans-Serif;
	}

.choice {
		display: inline-block;
		margin: 0 20px;
		padding: 10px;
		border-width: 5px;
		color: orange;
		transition: all 0.5s ease;
	}
	
	.choices {
		margin-top: 50px;
		text-align: center;
}

.choice:hover {
	cursor: pointer;
	background: rgb(247, 172, 34);
	border: 1px;
}

#action-message {
	text-align: center;
	font-family: Asap; sans-Serif;
	font-weight: bold;
	font-size: 20px;
	color:	white;
	margin-top: 20px;
}







